.list-view {
    -fx-background-color: transparent;
    -fx-pref-width: 300px;
    -fx-pref-height: 800px;
    -fx-max-width: 400px;
    -fx-max-height: 1000px;

    /* border */
    -fx-border-color: #4C392D;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;

    -fx-padding: 10px;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 5px;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 5px;
}

.list-view .list-cell:empty {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-padding: 5px;
}

.list-view .list-cell:hover {
    -fx-background-color: #ffe6cf;

    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-padding: 10px;
}

.list-view .list-cell:selected {
    -fx-background-color: #f5c99c;
    -fx-text-fill: black;

    -fx-border-width: 2px;
    -fx-border-color: #4C392D;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-padding: 10px;
}

.list-view .list-cell:empty:hover {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-padding: 5px;
}