.date-picker {
    -fx-background-color: #FDEBDD;
    -fx-border-color: #4C392D;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14px;
    -fx-text-fill: #4C392D;
}

.date-picker > .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #BEB5AC;
}

.date-picker:focused {
    -fx-border-color: #6b4f3b;
    -fx-border-width: 2px;
}

.date-picker-popup {
    -fx-background-color: #FDEBDD;
}

.date-cell:disabled {
    -fx-background-color: #ffd6d6; /* roz pal pentru datele indisponibile */
}
